<div class="container">
<% if @profile.errors.any? %>

    <div class="alert alert-danger fade in">
      <h5> <%= t('common.errors')%></h5>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
            <li> <%= message%></li>
        <% end%>
      </ul>
    </div>
    <% end%>
<%= form_for @profile do |f|%>
    <div class="form-signin">
    <div class="pad">
      <%= f.label t('profiles.name') ,class:"sr-only"%>
      <%= f.text_field :name, class:'form-control', placeholder:t('profiles.name')%>
    </div>
    <div class="pad">
      <%= f.label t('profiles.growth'),class:"sr-only"%>
      <%= f.text_field :growth, class:'form-control',placeholder:t('profiles.growth')%>
    </div>
    <div class="pad">
      <%= f.label t('profiles.weight'),class:"sr-only"%>
      <%= f.text_field :weight, class:'form-control',placeholder:t('profiles.weight')%>
    </div>

    <div class="form-group">
      <%= f.label t('profiles.year_of_birth')%>
      <%= f.date_select :year_of_birth, :start_year => 1960, :end_year => 1999, class:'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label t('profiles.gender')%>
      <%=select("profile", "sex", [[t('gender.man'),'gender.man'], [t('gender.woman'),'gender.woman'],
        [t('gender.agender'),'gender.agender'], [t('gender.androgyne'),'gender.androgyne'],
        [t('gender.bigender'),'gender.bigender'], [t('gender.FTM'),'gender.FTM'], [t('gender.MTF'),'gender.MTF'],
        [t('gender.transexual'),'gender.transexual'],
        [t('gender.intersex'),'gender.intersex'], [t('gender.fluid') ,'gender.fluid']] , { include_blank: false })%>
    </div>



    <div>
      <p> <%= f.label t('types_of_survey')%></p>

      <p><%=check_box("profile", "type_of_survey", {:multiple => true}, "portrait", nil)%><%= I18n.t('portrait')%> </p>
      <p><%=check_box("profile", "type_of_survey", {:multiple => true}, "nude", nil)%><%= I18n.t('nude')%> </p>
      <p><%=check_box("profile", "type_of_survey", {:multiple => true}, "travel_photography", nil)%><%= I18n.t('travel_photography')%> </p>
      <p><%=check_box("profile", "type_of_survey", {:multiple => true}, "theater", nil)%><%= I18n.t('theater')%> </p>
      <p><%=check_box("profile", "type_of_survey", {:multiple => true}, "street_photo", nil)%><%= I18n.t('street_photo')%> </p>

    </div>

    <%= f.label t('photo.change')%>
    <p><%= f.file_field :photo %></p>

    <div class="form-group">

      <%= f.submit t('savebutton'), class:'btn btn-primary'%>
    </div>
<%end%>
</div>
</div>
