<div class="card card-block" style="margin-top:20px" >
  <section class="post-head">
    <h3 class="card-title"><%=link_to profile.name,profile_path(profile), class:"card-link"%></h3>
  </section>
  <section class="post-summary clearfix">
    <%=image_tag(get_avatar(profile.photo), :width => 100, :height => 150,:crop => :scale,:class => 'img-thumbnail thumb')%>
  </section>
  <% find_profile_rating(profile)%>
  <% @rate %>
  <section>
    <%= render 'rate_withoult_links'%>
  </section>
</div>
