<%if @rate > 0 %>
    <%= image_tag("stars/star-on.svg") %>
<%else%>
    <%= image_tag("stars/star-off.svg") %>
<% end %>

<%if @rate > 1 %>
    <%= image_tag("stars/star-on.svg") %>
<%else%>
    <%= image_tag("stars/star-off.svg") %>
<% end %>

<%if @rate > 2 %>
    <%= image_tag("stars/star-on.svg") %>
<%else%>
    <%= image_tag("stars/star-off.svg") %>
<% end %>

<%if @rate > 3 %>
    <%= image_tag("stars/star-on.svg") %>
<%else%>
    <%= image_tag("stars/star-off.svg") %>
<% end %>

<%if @rate > 4 %>
    <%= image_tag("stars/star-on.svg") %>
<%else%>
    <%= image_tag("stars/star-off.svg") %>
<% end %>