
<script type="application/javascript">
    $.when( $.ready ).then(function() {
        $('.link_star').on("ajax:success", function(e, data, status, xhr) {
            $('#rating_div').html(data);

        } );

    });
</script>

<div id = "rating_div">
<p class="card-text">
  <% find_profile_rating(@profile)%>
  <%= I18n.t('profile')%>:
  <%if @rate > 0 %>
      <%= image_tag("stars/star-on.svg") %>
  <%else%>
      <%= image_tag("stars/star-off.svg") %>
  <% end %>

  <%if @rate > 1 %>
      <%= image_tag("stars/star-on.svg") %>
  <%else%>
      <%= image_tag("stars/star-off.svg") %>
  <% end %>

  <%if @rate > 2 %>
      <%= image_tag("stars/star-on.svg") %>
  <%else%>
      <%= image_tag("stars/star-off.svg") %>
  <% end %>

  <%if @rate > 3 %>
      <%= image_tag("stars/star-on.svg") %>
  <%else%>
      <%= image_tag("stars/star-off.svg") %>
  <% end %>

  <%if @rate > 4 %>
      <%= image_tag("stars/star-on.svg") %>
  <%else%>
      <%= image_tag("stars/star-off.svg") %>
  <% end %>
  </p>
<% if current_user %>
<p class="card-text">
  <% find_user_rating(@profile)%>
  <%= I18n.t('my')%>:
  <%if @rate > 0 %>
      <%=link_to("/rate/"+@profile.id.to_s+"/1", remote:true,class: "link_star") do%>
          <%= image_tag("stars/star-on.svg") %>
      <% end %>
  <%else%>
      <%=link_to("/rate/"+@profile.id.to_s+"/1", remote:true,class: "link_star") do%>
          <%= image_tag("stars/star-off.svg") %>
      <% end %>
  <% end %>

  <%if @rate > 1 %>
      <%=link_to("/rate/"+@profile.id.to_s+"/2", remote:true,class: "link_star") do%>
          <%= image_tag("stars/star-on.svg") %>
      <% end %>
  <%else%>
      <%=link_to("/rate/"+@profile.id.to_s+"/2", remote:true,class: "link_star") do%>
          <%= image_tag("stars/star-off.svg") %>
      <% end %>
  <% end %>

  <%if @rate > 2 %>
      <%=link_to("/rate/"+@profile.id.to_s+"/3", remote:true,class: "link_star") do%>
          <%= image_tag("stars/star-on.svg") %>
      <% end %>
  <%else%>
      <%=link_to("/rate/"+@profile.id.to_s+"/3", remote:true,class: "link_star") do%>
          <%= image_tag("stars/star-off.svg") %>
      <% end %>
  <% end %>

  <%if @rate > 3 %>
      <%=link_to("/rate/"+@profile.id.to_s+"/4", remote:true,class: "link_star") do%>
          <%= image_tag("stars/star-on.svg") %>
      <% end %>
  <%else%>
      <%=link_to("/rate/"+@profile.id.to_s+"/4", remote:true,class: "link_star") do%>
          <%= image_tag("stars/star-off.svg") %>
      <% end %>
  <% end %>

  <%if @rate > 4 %>
      <%=link_to("/rate/"+@profile.id.to_s+"/5", remote:true,class: "link_star") do%>
          <%= image_tag("stars/star-on.svg") %>
      <% end %>
  <%else%>
      <%=link_to("/rate/"+@profile.id.to_s+"/5", remote:true,class: "link_star") do%>
          <%= image_tag("stars/star-off.svg") %>
      <% end %>
  <% end %>
</p>
  <% end %>
</div>
