
<script type='text/javascript' src="//code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>



  <div class="card card-block" style="margin-top:20px" >
    <h3 class="card-title"><%=@profile.name%></h3>
    <figure>
      <%=image_tag(get_avatar(@profile.photo), :width => 200, :height => 200,:crop => :scale,:class => 'img-thumbnail')%>
    </figure>
    <p class="card-text"><strong><%= I18n.t('info.birthday')%> </strong> <%=@profile.year_of_birth%></p>
    <p class="card-text"><strong><%= I18n.t('info.weight')%> </strong> <%=@profile.weight%></p>
    <p class="card-text"><strong><%= I18n.t('info.growth')%> </strong> <%=@profile.growth%></p>
    <p class="card-text"><strong><%= I18n.t('info.sex')%> </strong> <%=t(@profile.sex)%></p>
    <p class="card-text"><strong><%= I18n.t('types_of_survey')%>: </strong></p>
    <% if @profile.type_of_survey.kind_of?(Array)%>
        <ul>
          <%@profile.type_of_survey.each do|type|%>
            <li><%=t(type)%></li>
          <%end%>
      </ul>
    <% end %>
    <p><%= render 'rate'%></p>
    <p>
      <%@profile_id = @profile.id%>
      <%if require_user %>
        <%= link_to t('profiles.edit'), edit_profile_path(@profile), class:"card-link"%>
        <%= link_to t('profiles.delete'), profile_path(@profile),method: :delete,data: {confirm:'Are u shure?'}, class:"card-link"%></p>
      <% end %>
  </div>



<div class="card card-block" style="margin-top:20px" >
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="card-title"><%= I18n.t('photo.title')%></h3>
  </div>
  <div class="panel-body" style="margin-top: 10px;">
    <div class="row sortable" >

  <%@profile.photos.each do |photo|%>
          <!--div class="col-md-3 thumb size"-->
          <div class="card">
          <a  href="<%=profile_photo_path(@profile,photo)%>" onclick="imageClick(this)" data-toggle="modal" data-target="#exampleModalLong" >
            <%#=image_tag(photo.url,:class => 'img-thumbnail thumb')%>
            <%= cl_image_tag(photo.url,:height => 200, :crop => :scale)%>
          </a>
            </div>
        <!--/div-->
<%end%>
  </div>
</div>
</div>
</div>

<script type='text/javascript'>
    $(".sortable").sortable({
        items       : 'div:not(.unsortable)',
        placeholder : 'sortable-placeholder',
        update: function(event, ui) {
            // console.log(event);
            // console.log(ui.placeholder.index() + " :  " + ui.placeholder);
            console.log(ui.item.index()+" "+ ui.item.html());
        }
    });
    $(".sortable").disableSelection();

</script>

<% if require_user %>
  <h2><%= I18n.t('photo.add')%></h2>
  <%= render 'photos/form' %>
<% end %>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" onclick="stopUpdateComment()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="stopUpdateComment()" ><%= I18n.t('photo.close')%></button>
      </div>
    </div>
  </div>
</div>
