<div class="container">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="form-signin" >
  <h2 class="form-signin-heading"><%= I18n.t('registration')%></h2>
  <div>
    <%= f.label :email, class:"sr-only"  %><br />
    <%= f.email_field :email, autofocus: true,class:"form-control", placeholder:t('user.email')  %>
  </div>

  <div>
    <%= f.label :password,class:"sr-only" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> <%= I18n.t('characters_minimum')%> )</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class:"form-control", placeholder:t('user.password') %>

    <%= f.label :password_confirmation,class:"sr-only" %>
    <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control", placeholder:t('user.confirm_password') %>
  </div>

  <div class="actions">
    <%= f.submit t('registration'),class:"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>
