<script type="application/javascript">
    $.when( $.ready ).then(function() {

        $('.delete_comment').on("ajax:success", function(e, data, status, xhr) {
            $('.comments').html(data);

        } )

    });
</script>
<% @photo.comments.each do |comment| %>

    <p>
      <strong><%= comment.commenter %></strong>

    </p>

    <p>
      <%= comment.body %>
    </p>
    <% if require_admin %>
        <p>

          <%= link_to I18n.t('admin.delete'), [comment.photo.profile,comment.photo, comment],
                      method: :delete,class:'delete_comment',
                      remote: true,
                      data: { confirm: 'Are you sure?' } %>
        </p>
    <%end %>
    <hr>
<% end %>