<div class="users">
<script type="application/javascript">

    $.when( $.ready ).then(function() {
        $('.remote').on("ajax:success", function(e, data, status, xhr) {
            $('.users').html(data);

        } );


    });
</script>
<br>
<table class="tg">
  <tr>
    <th width="250"><%= t('admin.email_or_provider')%></th>
    <th width="200"><%= t('admin.role')%></th>
    <th width="200"><%= t('admin.bun')%></th>
    <th width="200"><%= t('admin.profile')%></th>
  </tr>
  <% @users.each do |user| %>
      <tr id="<%= user.id%>">
        <td>
          <% if user.provider%>
          <%= user.provider%>  <br> uid = <%= user.uid %>
          <% else %>
              <%= user.email%>
          <% end %>
        </td>
        <td height="170px">

          <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user.role%> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" >
              <li> <%=link_to("/admin/role/"+user.id.to_s+"/ROLE_USER", remote:true,class: "remote") do%>ROLE_USER<% end%></li>
              <li><%=link_to("/admin/role/"+user.id.to_s+"/ROLE_ADMIN", remote:true,class: "remote") do%>ROLE_ADMIN<% end%></li>
            </ul>
          </div>
        </td>
        <td>
          <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= I18n.t('user.' + user.ban)%> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" >
              <li> <%=link_to("/admin/ban/"+user.id.to_s+"/ban", remote:true,class: "remote") do%><%= t('ban')%><% end%></li>
              <li><%=link_to("/admin/ban/"+user.id.to_s+"/unban", remote:true,class: "remote") do%><%= t('unban')%><% end%></li>
            </ul>
          </div>

        </td>
        <td>
          <% if Profile.find_by(user: user) %>
              <%=link_to I18n.t('admin.go'),profile_path(Profile.find_by(user: user)), class:"card-link"%>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
</div>
