
<h1><%= @tag.name %></h1>
<% @tag.photos.each do |photo|%>
    <article class="profiles">
      <p class="card-text"><strong><a  href="<%=profile_path(photo.profile)%>" class="card-link"><h4><%= photo.profile.name%></h4></a></strong></p>
      <a  href="<%=profile_photo_path(photo.profile,photo)%>" onclick="imageClick(this)" data-toggle="modal" data-target="#exampleModalLong" >
      <section class="post-summary clearfix">
        <%=image_tag(photo.url, :width => 100, :height => 150,:crop => :scale,:class => 'img-thumbnail thumb')%>
      </section>
      </a>
      <%= raw photo.tags.map(&:name).map{ |t| link_to t,tag_path(t) ,class:'badge badge-primary'}.join(' ')%>
    </article>
<% end %>

<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" onclick="stopUpdateComment()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="stopUpdateComment()" ><%= I18n.t('photo.close')%></button>
      </div>
    </div>
  </div>
</div>

