
<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-signin">
        <h2><%= I18n.t('login')%></h2>
  <div>
    <%= f.label :email,class:"sr-only" %><br />
    <%= f.email_field :email, autofocus: true,class:"form-control", placeholder:t('user.email') %>
  </div>

  <div class="field">
    <%= f.label :password,class:"sr-only" %><br />
    <%= f.password_field :password, autocomplete: "off",class:"form-control", placeholder:t('user.password') %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit t('login'),class:"btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
  </div>
</div>
