<%= form_for([@profile, @profile.photos.build],remote: true) do |f| %>
<p>
    <%= f.file_field :photo%>
</p>
    <p>
    <div class="input-group" style="width: 302px">
      <%= f.text_field :all_tags,class:"form-control",placeholder:t('tags') %>
    </div>
    </p>

      <%=f.submit t('add_photo'),class:"btn btn-primary"%>

<% end %>
