<script type="application/javascript">
    function stopUpdateComment(){
        update = false;
    }
  var update = true;
    $.when( $.ready ).then(function() {
        $('.edit_photo').on("ajax:success", function(e, data, status, xhr) {
            $('.tags_div').html(data);

        } );

        $('.new_comment').on("ajax:success", function(e, data, status, xhr) {
            $('.comments').html(data);

        } );

        $('.delete_comment').on("ajax:success", function(e, data, status, xhr) {


        } );
        function updateComments(){
            //console.log("update");
            $.ajax({
                url: '/profiles/<%=@photo.profile.id%>/photos/<%=@photo.id%>/comments',
                success: function( result ) {
                    $('.comments').html(result);
                    setTimeout(console.log('sucsess'),500);
                    console.log("-------------" + update);
                    if(update)
                      updateComments();
                },
                error: function (a,e,c) {
                    console.log(e);
                }
            });
        };
        //  setTimeout(updateComments,500);
        updateComments();


    });
</script>

<div class="container">
  <%= cl_image_tag(@photo.url,class:"img-fluid center-block")%>
  <% @profile_id = @photo.profile.id%>
   <% if require_user %>
      <p><%= link_to t('photo.delete'), [@photo.profile, @photo],
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
    </p>
      <% end %>
</div>
    <div class="tags_div" style="margin:10px">
      <%= raw @photo.tags.map(&:name).map{ |t| link_to t,tag_path(t) ,class:'badge badge-primary'}.join(' ')%>
    </div>
<% if require_user %>
<div style="max-width: 500px;margin: 10px">
  <h5><%= I18n.t('photo.add_tags')%></h5>
  <%= form_for([@photo.profile, @photo],remote:true) do |f| %>
      <div class="input-group">
          <%= f.text_field :all_tags,class:"form-control" %>
        <div class="input-group-btn">
          <%= f.submit t('savebutton'),class:"btn btn-default" %>
        </div>
      </div>
  <% end %>
</div>
<% end %>


<div style="margin:10px">
<h5 align="center"><%= I18n.t('photo.comments')%></h5><hr>
  <div class="comments">
<% @photo.comments.each do |comment| %>
    <p>
      <strong><%= comment.commenter %></strong>
    </p>

    <p>
      <%= comment.body %>
    </p>
        <% if require_admin %>
    <p>
      <%= link_to I18n.t('admin.delete'), [comment.photo.profile,comment.photo, comment],class:'delete_comment',
                  remote: true, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </p>
    <hr>
            <% end %>
<% end %>
  </div>
</div>


<div style="max-width: 400px;margin: 10px">
  <h5><%= I18n.t('photo.add_comment')%></h5>
<%= form_for([@photo.profile,@photo, @photo.comments.build],remote:true) do |f| %>
    <p>
      <%= f.text_area :body,class:"form-control", rows:"3" %>
    </p>
    <p>
      <%= f.submit t('photo.send'),class:"btn btn-default" %>
    </p>
 </div>
<% end %>
