// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ava_img{
  max-width: 350px; //ширина
  max-height: 350px; //высота
}
.fix_img{
  display: inline-block;
  max-width: 250px;
  max-height: 200px;
  padding-left: 5px;
  padding-right: 5px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
