// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article.profiles{
  margin-bottom: 1em;
  padding: 1em 0;
  border-bottom: 1px solid lightblue;
}
h1, h2 {
  margin-bottom: 0;
}
section.post-summary {
  padding: .5em 0 ;
}

.thumb {
  width:150px;
  height:150px;
  float: left;
  margin-right: 1em;
}
.size{
  width:200px;
  height:200px;
}





