// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag1 {
  font-size: 1.0em;
}
.tag2  {

  font-size: 1.2em;
}
.tag3 {
  font-size: 1.4em;
}
.tag4 {
  font-size: 1.6em;
}
.tag5 {
  font-size: 1.8em;
}